body{
    margin: 0;
}

.wrapper{
    display: grid;
    grid-template-rows: 80px auto;
    grid-template-areas: 
    "header"
    "main" 
}

header{
    background-color: rgb(252, 122, 0);
    display: grid;
    grid-template-columns: 70px auto 70px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "empty name cart"
    "m_button s_bar s_button";
    position: sticky;
    top: 0;
}

.name{
    grid-area: name;
    font-size: 2em;
}

.cart{
    grid-area: cart;
    display: flex; 
    align-items: center;
    justify-content: center;
}


.m_button{
    grid-area: m_button;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.m_button>i{
    /* margin: 3px; */
    transition: all .5s;
}

.s_field{
    grid-area: s_bar;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s_bar{
    height: 50%;
    width: 90%;
    border-radius: 20px;
    padding: 4px 20px;
    border: solid 1px black;
}

.s_button{
    grid-area: s_button;
    display: flex; 
    align-items: center;
    justify-content: center;
}

main{
    height: 100%;
    grid-area: main;
}

.item{
    height: 300px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 2px;
}

.item_image{
    height: 70%;
    background-color: #fff;
}

.item_info{
    border-top: 1px solid #555;
    height: 30%;
}

menu{
    width: 70%;
    height: 88vh;
    display:grid; 
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "";
    background-color: #fff;
    position: fixed;
    top: 12vh;
    left: 0;
    z-index: 10;
    margin: 0;
    transition: all 0.5s;
}

.dark{
    width: 100%;
    height: 88vh;
    position: fixed;
    top: 12vh;
    z-index: 9;
    background-color: #000;
    opacity: 0.7;
    transition: all .5s;
}

.hidden_menu{
    left: -100%
}

.hidden_dark{
    opacity: 0;
}

footer{
    display: none;
}

@media only screen and (min-width: 1500px){

    .wrapper{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-rows: 100px 500px auto;
        grid-template-areas: 
        "header header"
        "menu news"
        "empty main"
    }
}